[user]
	name = rotorsoft
	email = rotorsoft@outlook.com
[init]
	defaultBranch = master
[core]
	editor = nvim -f
	pager = delta
[delta]
	line-numbers = true	
	side-by-side = true
[push]
	autoSetupRemote = true
	default = current
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
