[user]
	name = rotorsoft
	email = rotorsoft@outlook.com
	initials = ro
[init]
	defaultBranch = master
[core]
	editor = nvim -f
	pager = delta
[delta]
	line-numbers = true	
	side-by-side = true
[push]
	autoSetupRemote = true
	default = current
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[alias]
	lg = log --decorate=short --abbrev-commit   --pretty=format:'%C(auto)%h %Cgreen%>(12)%ad%Creset %Cblue%>(8)%aN%Creset %C(auto)%d %<(20,trunc)%s'   --date=auto --graph
