/* Font */
.mac, .title, .label-name {
	font-family: 'JetBrains Mono', monospace !important;
}

/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
	top: -6px !important;
}

/* Toolbars when tabs are enabled. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
	display: none !important;
}

/* Side bar */
.part.sidebar {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}

/* Sidebar top shadow */
.monaco-scrollable-element>.shadow.top {
	box-shadow: 0px 0px 10px rgba(0,0,0,.75) !important;
	top: -3px !important;
}

/* Tooltip box style */
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 10px !important;
}
 
.monaco-hover-content:first-child {
	font-size: 90% !important;
	padding: 10px !important;
}
.hover-row span:first-child {
	font-size: inherit !important;
}

/* Command Palette */
.quick-input-widget {
	transform: translateY(-50%) !important;
	top: 50% !important;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, .45) !important;
	padding: 10px 10px 18px 10px !important;
	/* background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important; */
	backdrop-filter: blur(3px) !important;
	border-radius: 20px !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
	border-radius: 12px !important;
	padding: 8px !important;
	border: none !important;
	background-color: rgba(34, 34, 34, .40) !important;
	margin-bottom: 16px !important;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
	color: rgba(255, 255, 255, .3) !important;
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
	max-width: none !important;
}

.command-center-center {
	width: auto !important;
}

.monaco-workbench.vs-dark .part.editor>.content .editor-group-container .editor-group-watermark>.letterpress {
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='522px' height='178px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23181818' d='M 251.5,9.5 C 264.655,9.00723 271.988,15.0072 273.5,27.5C 274.347,33.4819 275.013,39.4819 275.5,45.5C 281.906,46.2486 288.239,47.4153 294.5,49C 304.654,57.4548 304.987,66.1215 295.5,75C 288.209,76.2234 280.876,77.0567 273.5,77.5C 273.206,94.5264 273.706,111.526 275,128.5C 275.833,130.667 277.333,132.167 279.5,133C 283.801,132.637 288.134,132.637 292.5,133C 296.172,134.836 299.838,136.669 303.5,138.5C 303.069,139.293 302.735,140.127 302.5,141C 307.259,153.483 303.259,161.483 290.5,165C 281.203,166.398 271.87,166.732 262.5,166C 259.367,165.607 256.367,164.774 253.5,163.5C 249.481,159.315 245.647,154.982 242,150.5C 241.83,148.285 241.163,146.285 240,144.5C 239.271,122.155 238.437,99.8221 237.5,77.5C 223.384,79.7154 215.717,73.7154 214.5,59.5C 216.375,56.2489 218.375,53.0823 220.5,50C 226.142,48.3396 231.809,46.8396 237.5,45.5C 239.047,36.2388 240.214,26.9055 241,17.5C 243.855,13.7893 247.355,11.1226 251.5,9.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23181817' d='M 355.5,41.5 C 369.303,40.7012 382.303,43.5345 394.5,50C 394.167,50.3333 393.833,50.6667 393.5,51C 406.97,56.6366 416.637,66.1366 422.5,79.5C 424.307,80.3951 425.64,81.7284 426.5,83.5C 426.579,95.7364 426.412,108.07 426,120.5C 424.981,122.269 424.814,123.936 425.5,125.5C 425.154,126.696 424.654,126.696 424,125.5C 423.25,129.419 421.917,133.085 420,136.5C 414.833,142.333 409.667,148.167 404.5,154C 397.016,159.075 389.016,163.075 380.5,166C 339.743,173.46 312.576,157.96 299,119.5C 294.406,95.1734 300.906,74.5068 318.5,57.5C 329.559,49.0422 341.892,43.7088 355.5,41.5 Z M 361.5,75.5 C 364.572,75.1826 367.572,75.5159 370.5,76.5C 372.599,77.9652 374.766,79.2985 377,80.5C 377.772,80.3552 378.439,80.0219 379,79.5C 382.902,83.4488 385.902,88.1155 388,93.5C 393.322,106.95 390.822,118.117 380.5,127C 377.691,128.741 374.691,129.908 371.5,130.5C 371.719,131.675 371.386,132.675 370.5,133.5C 356.268,134.849 345.101,129.849 337,118.5C 334.725,111.315 334.058,103.982 335,96.5C 338.378,91.5782 341.878,86.7449 345.5,82C 349.954,79.8855 354.621,78.3855 359.5,77.5C 360.713,77.2528 361.38,76.5862 361.5,75.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23191818' d='M 31.5,42.5 C 35.8346,42.9167 40.1679,43.4167 44.5,44C 47.0628,47.9394 50.3961,51.106 54.5,53.5C 67.1185,43.0668 80.7852,40.9001 95.5,47C 94.6548,48.5581 95.3215,49.5581 97.5,50C 97.0426,50.414 96.7093,50.914 96.5,51.5C 101.407,60.2087 100.24,67.8753 93,74.5C 92.5172,75.448 92.3505,76.448 92.5,77.5C 83.8037,78.0022 75.137,78.8355 66.5,80C 59.3918,82.7114 56.2251,87.8781 57,95.5C 56.0853,96.3279 55.4186,97.3279 55,98.5C 54.0411,116.683 52.8744,134.85 51.5,153C 53.4231,156.652 52.5897,159.485 49,161.5C 48.5172,162.448 48.3505,163.448 48.5,164.5C 44.5067,164.832 40.5067,165.165 36.5,165.5C 28.0489,166.662 22.5489,163.328 20,155.5C 19.1655,150.817 18.3321,146.15 17.5,141.5C 19.0127,139.465 19.6793,137.131 19.5,134.5C 17.8407,113.545 17.0073,92.5446 17,71.5C 16.6271,69.3018 16.1271,67.1351 15.5,65C 18.0805,60.0058 20.2472,54.8391 22,49.5C 25.0681,46.9174 28.2348,44.5841 31.5,42.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23181817' d='M 145.5,42.5 C 163.066,40.1784 179.732,43.345 195.5,52C 203.742,57.4077 210.409,64.2411 215.5,72.5C 232.028,107.565 224.694,136.399 193.5,159C 163.665,173.331 136.498,169.498 112,147.5C 96.2023,128.505 92.2023,107.172 100,83.5C 106.156,67.8782 116.323,56.5449 130.5,49.5C 135.807,47.3404 140.807,45.0071 145.5,42.5 Z M 137.5,121.5 C 132.45,111.305 132.283,100.971 137,90.5C 140.053,87.1134 142.72,83.4467 145,79.5C 145.561,80.0219 146.228,80.3552 147,80.5C 150.933,78.6345 154.933,76.9678 159,75.5C 163.67,77.9582 168.503,79.1249 173.5,79C 176.613,82.1126 179.779,85.2792 183,88.5C 184.223,92.6153 186.223,96.282 189,99.5C 189.499,103.821 189.666,108.154 189.5,112.5C 188.325,112.281 187.325,112.614 186.5,113.5C 183.867,118.628 181.033,123.628 178,128.5C 177.586,128.043 177.086,127.709 176.5,127.5C 169.299,132.565 161.299,134.565 152.5,133.5C 152.5,132.5 152.5,131.5 152.5,130.5C 146.411,129.29 141.411,126.29 137.5,121.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23191818' d='M 483.5,43.5 C 496.665,42.5079 503.832,48.5079 505,61.5C 505.663,64.9771 506.163,68.4771 506.5,72C 505.444,77.1112 504.778,82.2779 504.5,87.5C 504.611,110.165 504.778,132.832 505,155.5C 500.527,164.482 493.36,167.649 483.5,165C 481.122,164.489 478.788,163.822 476.5,163C 474.321,161.161 472.488,158.994 471,156.5C 464.528,160.318 457.695,163.484 450.5,166C 430.169,169.563 421.669,161.063 425,140.5C 427.264,137.567 430.098,135.4 433.5,134C 441.605,133.248 449.605,131.915 457.5,130C 461.26,128.539 464.093,126.039 466,122.5C 468.048,115.926 469.715,109.26 471,102.5C 471.333,86.1667 471.667,69.8333 472,53.5C 474.194,48.1709 478.027,44.8375 483.5,43.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23181817' d='M 157.5,91.5 C 171.92,92.6667 176.42,100 171,113.5C 166.509,118.259 161.009,119.759 154.5,118C 151.779,115.279 149.113,112.613 146.5,110C 146.702,105.216 148.036,100.549 150.5,96C 149.549,95.2825 149.383,94.4491 150,93.5C 151.458,92.2532 152.958,92.2532 154.5,93.5C 155.739,93.0576 156.739,92.3909 157.5,91.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23181817' d='M 358.5,92.5 C 372.453,91.615 377.953,97.9483 375,111.5C 368.738,117.93 361.571,119.097 353.5,115C 348.315,110.053 347.149,104.219 350,97.5C 352.531,95.0967 355.364,93.4301 358.5,92.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
	width: 30% !important;
	filter: drop-shadow(0 0 0px rgba(50, 200, 50, 0.5));
	transition: filter .5s ease;
}

.monaco-workbench.vs-dark .part.editor>.content .editor-group-container .editor-group-watermark>.letterpress:hover {
	filter: drop-shadow(0 0 70px rgba(255, 150, 250, 0.4));
	width: 33% !important;
}

/* TS Pretty errors - allow copying */
.codicon-none {
	user-select: text !important;
	-webkit-user-select: text !important;
}

/* Hide original TS errors */
div.monaco-hover-content:has(.codicon-none) > .hover-row:first-child {
	display: none !important;
}
div.monaco-hover-content:has([style="color:#f96363;"]) > .hover-row:first-child {
	display: none !important
}

/* Change order */
.monaco-hover .monaco-hover-content {
	display: flex;
	flex-direction: column;
}
.monaco-hover .monaco-hover-content .hover-row {
	order: 2;
}
.monaco-hover .monaco-hover-content .hover-row:has(.codicon-none) {
	order: 1;
}
.monaco-hover .monaco-hover-content .hover-row:has([style="color:#f96363;"]) {
	order: 1;
}